appengine-generated
classes
build
data-backup
WEB-INF/lib
out
*.iml
*.ipr
*.iws
*.*~
.idea
.gradle
/.settings
/.classpath
/.project
src/main/webapp/node_modules
src/main/webapp/stage
src/main/webapp/.tmp

